@font-face {
  font-family: "Iosevka RLTB Sans Web";
  font-display: swap;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-thin.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web";
  font-display: swap;
  font-weight: 100;
  font-stretch: expanded;
  font-style: normal;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-extendedthin.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web";
  font-display: swap;
  font-weight: 100;
  font-stretch: normal;
  font-style: oblique;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-thinoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web Oblique";
  font-display: swap;
  font-weight: 100;
  font-stretch: normal;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-thinoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web";
  font-display: swap;
  font-weight: 100;
  font-stretch: expanded;
  font-style: oblique;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-extendedthinoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web Oblique";
  font-display: swap;
  font-weight: 100;
  font-stretch: expanded;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-extendedthinoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web";
  font-display: swap;
  font-weight: 100;
  font-stretch: normal;
  font-style: italic;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-thinitalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web";
  font-display: swap;
  font-weight: 100;
  font-stretch: expanded;
  font-style: italic;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-extendedthinitalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web";
  font-display: swap;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-extralight.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web";
  font-display: swap;
  font-weight: 200;
  font-stretch: expanded;
  font-style: normal;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-extendedextralight.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web";
  font-display: swap;
  font-weight: 200;
  font-stretch: normal;
  font-style: oblique;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-extralightoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web Oblique";
  font-display: swap;
  font-weight: 200;
  font-stretch: normal;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-extralightoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web";
  font-display: swap;
  font-weight: 200;
  font-stretch: expanded;
  font-style: oblique;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-extendedextralightoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web Oblique";
  font-display: swap;
  font-weight: 200;
  font-stretch: expanded;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-extendedextralightoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web";
  font-display: swap;
  font-weight: 200;
  font-stretch: normal;
  font-style: italic;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-extralightitalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web";
  font-display: swap;
  font-weight: 200;
  font-stretch: expanded;
  font-style: italic;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-extendedextralightitalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web";
  font-display: swap;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-light.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web";
  font-display: swap;
  font-weight: 300;
  font-stretch: expanded;
  font-style: normal;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-extendedlight.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web";
  font-display: swap;
  font-weight: 300;
  font-stretch: normal;
  font-style: oblique;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-lightoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web Oblique";
  font-display: swap;
  font-weight: 300;
  font-stretch: normal;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-lightoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web";
  font-display: swap;
  font-weight: 300;
  font-stretch: expanded;
  font-style: oblique;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-extendedlightoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web Oblique";
  font-display: swap;
  font-weight: 300;
  font-stretch: expanded;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-extendedlightoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web";
  font-display: swap;
  font-weight: 300;
  font-stretch: normal;
  font-style: italic;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-lightitalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web";
  font-display: swap;
  font-weight: 300;
  font-stretch: expanded;
  font-style: italic;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-extendedlightitalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web";
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-regular.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web";
  font-display: swap;
  font-weight: 400;
  font-stretch: expanded;
  font-style: normal;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-extended.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web";
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: oblique;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-oblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web Oblique";
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-oblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web";
  font-display: swap;
  font-weight: 400;
  font-stretch: expanded;
  font-style: oblique;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-extendedoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web Oblique";
  font-display: swap;
  font-weight: 400;
  font-stretch: expanded;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-extendedoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web";
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: italic;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-italic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web";
  font-display: swap;
  font-weight: 400;
  font-stretch: expanded;
  font-style: italic;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-extendeditalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web";
  font-display: swap;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-medium.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web";
  font-display: swap;
  font-weight: 500;
  font-stretch: expanded;
  font-style: normal;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-extendedmedium.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web";
  font-display: swap;
  font-weight: 500;
  font-stretch: normal;
  font-style: oblique;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-mediumoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web Oblique";
  font-display: swap;
  font-weight: 500;
  font-stretch: normal;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-mediumoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web";
  font-display: swap;
  font-weight: 500;
  font-stretch: expanded;
  font-style: oblique;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-extendedmediumoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web Oblique";
  font-display: swap;
  font-weight: 500;
  font-stretch: expanded;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-extendedmediumoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web";
  font-display: swap;
  font-weight: 500;
  font-stretch: normal;
  font-style: italic;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-mediumitalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web";
  font-display: swap;
  font-weight: 500;
  font-stretch: expanded;
  font-style: italic;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-extendedmediumitalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web";
  font-display: swap;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-semibold.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web";
  font-display: swap;
  font-weight: 600;
  font-stretch: expanded;
  font-style: normal;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-extendedsemibold.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web";
  font-display: swap;
  font-weight: 600;
  font-stretch: normal;
  font-style: oblique;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-semiboldoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web Oblique";
  font-display: swap;
  font-weight: 600;
  font-stretch: normal;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-semiboldoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web";
  font-display: swap;
  font-weight: 600;
  font-stretch: expanded;
  font-style: oblique;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-extendedsemiboldoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web Oblique";
  font-display: swap;
  font-weight: 600;
  font-stretch: expanded;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-extendedsemiboldoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web";
  font-display: swap;
  font-weight: 600;
  font-stretch: normal;
  font-style: italic;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-semibolditalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web";
  font-display: swap;
  font-weight: 600;
  font-stretch: expanded;
  font-style: italic;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-extendedsemibolditalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web";
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-bold.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web";
  font-display: swap;
  font-weight: 700;
  font-stretch: expanded;
  font-style: normal;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-extendedbold.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web";
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: oblique;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-boldoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web Oblique";
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-boldoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web";
  font-display: swap;
  font-weight: 700;
  font-stretch: expanded;
  font-style: oblique;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-extendedboldoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web Oblique";
  font-display: swap;
  font-weight: 700;
  font-stretch: expanded;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-extendedboldoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web";
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: italic;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-bolditalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web";
  font-display: swap;
  font-weight: 700;
  font-stretch: expanded;
  font-style: italic;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-extendedbolditalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web";
  font-display: swap;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-extrabold.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web";
  font-display: swap;
  font-weight: 800;
  font-stretch: expanded;
  font-style: normal;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-extendedextrabold.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web";
  font-display: swap;
  font-weight: 800;
  font-stretch: normal;
  font-style: oblique;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-extraboldoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web Oblique";
  font-display: swap;
  font-weight: 800;
  font-stretch: normal;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-extraboldoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web";
  font-display: swap;
  font-weight: 800;
  font-stretch: expanded;
  font-style: oblique;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-extendedextraboldoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web Oblique";
  font-display: swap;
  font-weight: 800;
  font-stretch: expanded;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-extendedextraboldoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web";
  font-display: swap;
  font-weight: 800;
  font-stretch: normal;
  font-style: italic;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-extrabolditalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web";
  font-display: swap;
  font-weight: 800;
  font-stretch: expanded;
  font-style: italic;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-extendedextrabolditalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web";
  font-display: swap;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-heavy.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web";
  font-display: swap;
  font-weight: 900;
  font-stretch: expanded;
  font-style: normal;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-extendedheavy.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web";
  font-display: swap;
  font-weight: 900;
  font-stretch: normal;
  font-style: oblique;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-heavyoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web Oblique";
  font-display: swap;
  font-weight: 900;
  font-stretch: normal;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-heavyoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web";
  font-display: swap;
  font-weight: 900;
  font-stretch: expanded;
  font-style: oblique;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-extendedheavyoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web Oblique";
  font-display: swap;
  font-weight: 900;
  font-stretch: expanded;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-extendedheavyoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web";
  font-display: swap;
  font-weight: 900;
  font-stretch: normal;
  font-style: italic;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-heavyitalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Sans Web";
  font-display: swap;
  font-weight: 900;
  font-stretch: expanded;
  font-style: italic;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-proportional-sans-extendedheavyitalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono";
  font-display: swap;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-thin.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono";
  font-display: swap;
  font-weight: 100;
  font-stretch: expanded;
  font-style: normal;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-extendedthin.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono";
  font-display: swap;
  font-weight: 100;
  font-stretch: normal;
  font-style: oblique;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-thinoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono Oblique";
  font-display: swap;
  font-weight: 100;
  font-stretch: normal;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-thinoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono";
  font-display: swap;
  font-weight: 100;
  font-stretch: expanded;
  font-style: oblique;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-extendedthinoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono Oblique";
  font-display: swap;
  font-weight: 100;
  font-stretch: expanded;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-extendedthinoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono";
  font-display: swap;
  font-weight: 100;
  font-stretch: normal;
  font-style: italic;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-thinitalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono";
  font-display: swap;
  font-weight: 100;
  font-stretch: expanded;
  font-style: italic;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-extendedthinitalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono";
  font-display: swap;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-extralight.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono";
  font-display: swap;
  font-weight: 200;
  font-stretch: expanded;
  font-style: normal;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-extendedextralight.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono";
  font-display: swap;
  font-weight: 200;
  font-stretch: normal;
  font-style: oblique;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-extralightoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono Oblique";
  font-display: swap;
  font-weight: 200;
  font-stretch: normal;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-extralightoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono";
  font-display: swap;
  font-weight: 200;
  font-stretch: expanded;
  font-style: oblique;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-extendedextralightoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono Oblique";
  font-display: swap;
  font-weight: 200;
  font-stretch: expanded;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-extendedextralightoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono";
  font-display: swap;
  font-weight: 200;
  font-stretch: normal;
  font-style: italic;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-extralightitalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono";
  font-display: swap;
  font-weight: 200;
  font-stretch: expanded;
  font-style: italic;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-extendedextralightitalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono";
  font-display: swap;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-light.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono";
  font-display: swap;
  font-weight: 300;
  font-stretch: expanded;
  font-style: normal;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-extendedlight.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono";
  font-display: swap;
  font-weight: 300;
  font-stretch: normal;
  font-style: oblique;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-lightoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono Oblique";
  font-display: swap;
  font-weight: 300;
  font-stretch: normal;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-lightoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono";
  font-display: swap;
  font-weight: 300;
  font-stretch: expanded;
  font-style: oblique;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-extendedlightoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono Oblique";
  font-display: swap;
  font-weight: 300;
  font-stretch: expanded;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-extendedlightoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono";
  font-display: swap;
  font-weight: 300;
  font-stretch: normal;
  font-style: italic;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-lightitalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono";
  font-display: swap;
  font-weight: 300;
  font-stretch: expanded;
  font-style: italic;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-extendedlightitalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono";
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-regular.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono";
  font-display: swap;
  font-weight: 400;
  font-stretch: expanded;
  font-style: normal;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-extended.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono";
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: oblique;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-oblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono Oblique";
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-oblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono";
  font-display: swap;
  font-weight: 400;
  font-stretch: expanded;
  font-style: oblique;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-extendedoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono Oblique";
  font-display: swap;
  font-weight: 400;
  font-stretch: expanded;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-extendedoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono";
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: italic;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-italic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono";
  font-display: swap;
  font-weight: 400;
  font-stretch: expanded;
  font-style: italic;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-extendeditalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono";
  font-display: swap;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-medium.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono";
  font-display: swap;
  font-weight: 500;
  font-stretch: expanded;
  font-style: normal;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-extendedmedium.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono";
  font-display: swap;
  font-weight: 500;
  font-stretch: normal;
  font-style: oblique;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-mediumoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono Oblique";
  font-display: swap;
  font-weight: 500;
  font-stretch: normal;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-mediumoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono";
  font-display: swap;
  font-weight: 500;
  font-stretch: expanded;
  font-style: oblique;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-extendedmediumoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono Oblique";
  font-display: swap;
  font-weight: 500;
  font-stretch: expanded;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-extendedmediumoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono";
  font-display: swap;
  font-weight: 500;
  font-stretch: normal;
  font-style: italic;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-mediumitalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono";
  font-display: swap;
  font-weight: 500;
  font-stretch: expanded;
  font-style: italic;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-extendedmediumitalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono";
  font-display: swap;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-semibold.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono";
  font-display: swap;
  font-weight: 600;
  font-stretch: expanded;
  font-style: normal;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-extendedsemibold.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono";
  font-display: swap;
  font-weight: 600;
  font-stretch: normal;
  font-style: oblique;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-semiboldoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono Oblique";
  font-display: swap;
  font-weight: 600;
  font-stretch: normal;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-semiboldoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono";
  font-display: swap;
  font-weight: 600;
  font-stretch: expanded;
  font-style: oblique;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-extendedsemiboldoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono Oblique";
  font-display: swap;
  font-weight: 600;
  font-stretch: expanded;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-extendedsemiboldoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono";
  font-display: swap;
  font-weight: 600;
  font-stretch: normal;
  font-style: italic;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-semibolditalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono";
  font-display: swap;
  font-weight: 600;
  font-stretch: expanded;
  font-style: italic;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-extendedsemibolditalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono";
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-bold.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono";
  font-display: swap;
  font-weight: 700;
  font-stretch: expanded;
  font-style: normal;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-extendedbold.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono";
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: oblique;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-boldoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono Oblique";
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-boldoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono";
  font-display: swap;
  font-weight: 700;
  font-stretch: expanded;
  font-style: oblique;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-extendedboldoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono Oblique";
  font-display: swap;
  font-weight: 700;
  font-stretch: expanded;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-extendedboldoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono";
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: italic;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-bolditalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono";
  font-display: swap;
  font-weight: 700;
  font-stretch: expanded;
  font-style: italic;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-extendedbolditalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono";
  font-display: swap;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-extrabold.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono";
  font-display: swap;
  font-weight: 800;
  font-stretch: expanded;
  font-style: normal;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-extendedextrabold.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono";
  font-display: swap;
  font-weight: 800;
  font-stretch: normal;
  font-style: oblique;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-extraboldoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono Oblique";
  font-display: swap;
  font-weight: 800;
  font-stretch: normal;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-extraboldoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono";
  font-display: swap;
  font-weight: 800;
  font-stretch: expanded;
  font-style: oblique;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-extendedextraboldoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono Oblique";
  font-display: swap;
  font-weight: 800;
  font-stretch: expanded;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-extendedextraboldoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono";
  font-display: swap;
  font-weight: 800;
  font-stretch: normal;
  font-style: italic;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-extrabolditalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono";
  font-display: swap;
  font-weight: 800;
  font-stretch: expanded;
  font-style: italic;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-extendedextrabolditalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono";
  font-display: swap;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-heavy.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono";
  font-display: swap;
  font-weight: 900;
  font-stretch: expanded;
  font-style: normal;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-extendedheavy.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono";
  font-display: swap;
  font-weight: 900;
  font-stretch: normal;
  font-style: oblique;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-heavyoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono Oblique";
  font-display: swap;
  font-weight: 900;
  font-stretch: normal;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-heavyoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono";
  font-display: swap;
  font-weight: 900;
  font-stretch: expanded;
  font-style: oblique;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-extendedheavyoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono Oblique";
  font-display: swap;
  font-weight: 900;
  font-stretch: expanded;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-extendedheavyoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono";
  font-display: swap;
  font-weight: 900;
  font-stretch: normal;
  font-style: italic;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-heavyitalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka RLTB Mono";
  font-display: swap;
  font-weight: 900;
  font-stretch: expanded;
  font-style: italic;
  src: url("https://github.com/rben01/Iosevka/releases/download/v17.0.2/iosevka-rltb-mono-extendedheavyitalic.woff2")
    format("woff2");
}
